.u-section-1 {
  background-image: linear-gradient(#478ac9, #c75c69);
}

.u-section-1 .u-sheet-1 {
  min-height: 708px;
}

.u-section-1 .u-text-1 {
  margin: 31px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}.u-section-2 {
  background-image: linear-gradient(#478ac9, #c75c69);
}

.u-section-2 .u-sheet-1 {
  min-height: 197px;
}

.u-section-2 .u-social-icons-1 {
  height: 44px;
  min-height: 16px;
  width: 105px;
  min-width: 49px;
  animation-duration: 1750ms;
  margin: 77px auto 60px;
}

.u-section-2 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 88px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-social-icons-1 {
    margin-top: 60px;
  }
}