.u-section-1 {
  min-height: 710px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  background-image: url("images/c75ecdb9f49c9134b86d6c8c19d532a9e2c0eb108e55f084e002382485fde151353bb4b1c1aeea578923ead4b52a4104a09a28d9ba4affbdf3aed8_1280.jpg");
  background-position: 50% 50%;
  min-height: 710px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 306px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 15px 116px 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 27px auto 0;
  padding: 10px 34px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 585px;
  }

  .u-section-1 .u-image-1 {
    pointer-events: auto;
    min-height: 585px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 376px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 11px;
    margin-right: 16px;
    margin-left: 32px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 448px;
  }

  .u-section-1 .u-image-1 {
    min-height: 448px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 238px;
    margin-right: 281px;
    margin-left: 233px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 15px;
    margin-left: 296px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 336px;
  }

  .u-section-1 .u-image-1 {
    min-height: 672px;
  }

  .u-section-1 .u-text-1 {
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 212px;
  }

  .u-section-1 .u-image-1 {
    min-height: 423px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 590px;
}

.u-section-2 .u-slider-1 {
  min-height: 486px;
  width: 893px;
  margin: 103px auto 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 97px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  width: 191px;
  margin: 35px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 0 -80px;
}

.u-section-2 .u-text-4 {
  width: 191px;
  margin: 35px auto 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 55px;
  height: 55px;
  background-image: none;
}

.u-section-2 .u-carousel-control-2 {
  width: 55px;
  height: 55px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-slider-1 {
    height: auto;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-slider-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-slider-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-slider-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-3 {
  background-image: none;
  min-height: 748px;
}

.u-section-3 .u-shape-1 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: -164px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 615px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 26px 29px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  line-height: 24px;
  margin: 134px 0 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 300;
  background-image: none;
  border-style: none;
  margin: 20px auto 0 0;
  padding: 12px 35px 14px 34px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 321px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-image-1 {
  height: 234px;
  background-image: url("images/e35138627d089a23b96d2cac8a1fc1f15991c715e65de5c0430c4ad4993d9fc0e2647559ebe2ac9a953fe1063130b7d87ee0734f26957644e5d52f_1280.jpg");
  background-position: 50% 50%;
  width: 234px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 292px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-image-2 {
  height: 234px;
  background-image: url("images/f8a820a6bb654ce11230b5e7763d183b6fa9393ceb6d55126d9774bf66a279448deb3bd08b42178f4c515a5cbc6b80df4d2f09f9a5ad232ead77a4_1280.jpg");
  background-position: 19.1% 50%;
  width: 234px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 615px;
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-image-3 {
  height: 250px;
  background-image: url("images/1b1e0f318fe6414c9b146c58079280e40a12abab684da71945fd297239e5d5919579e12fdb2d4114471042d37a720d5b44fefbf7bc0db2e08b5612_1280.jpg");
  background-position: 88.58% 50%;
  width: 250px;
  margin: 185px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 642px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 507px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 265px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-3 .u-image-1 {
    height: 199px;
    width: 199px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 241px;
  }

  .u-section-3 .u-image-2 {
    height: 199px;
    width: 199px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 507px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-3 {
    height: 231px;
    width: 231px;
    margin-top: 138px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 1569px;
  }

  .u-section-3 .u-shape-1 {
    height: 193px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 590px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 370px;
  }

  .u-section-3 .u-image-1 {
    height: 320px;
    width: 320px;
    margin-left: 20px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 455px;
  }

  .u-section-3 .u-image-2 {
    height: 320px;
    width: 320px;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 637px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-3 {
    height: 566px;
    width: 566px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 2151px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 411px;
  }

  .u-section-3 .u-image-1 {
    height: 345px;
    width: 345px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 475px;
  }

  .u-section-3 .u-image-2 {
    height: 437px;
    width: 437px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 478px;
  }

  .u-section-3 .u-image-3 {
    height: 520px;
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 1828px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 338px;
  }

  .u-section-3 .u-image-1 {
    height: 300px;
    width: 300px;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 319px;
  }

  .u-section-3 .u-image-2 {
    height: 290px;
    width: 290px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 545px;
  }

  .u-section-3 .u-image-3 {
    height: 300px;
    width: 300px;
    margin-top: 0;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 197px;
}

.u-section-4 .u-social-icons-1 {
  height: 37px;
  min-height: 16px;
  width: 91px;
  min-width: 49px;
  animation-duration: 1750ms;
  margin: 60px auto;
}

.u-section-4 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

@media (max-width: 1199px) {
  .u-section-4 .u-social-icons-1 {
    margin-top: 80px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 81px;
  }
}