.u-section-1 {
  min-height: 710px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 710px;
  pointer-events: auto;
  background-image: url("images/115487211-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-image-2 {
  min-height: 710px;
  pointer-events: auto;
  background-image: url("images/d6fcbfe466e10c66d64d16c15cfc7072f0a28d6a415f9d8cdc6d8dc9c6dbe736cf6841eacca86177bb9abd6bae4accb998acbb3a80d19c00446997_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 224px 224px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 10px 34px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 585px;
  }

  .u-section-1 .u-image-1 {
    min-height: 585px;
  }

  .u-section-1 .u-image-2 {
    min-height: 585px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 124px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 448px;
  }

  .u-section-1 .u-image-1 {
    min-height: 448px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-2 {
    min-height: 448px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 74px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 772px;
  }

  .u-section-1 .u-image-1 {
    min-height: 672px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 672px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 523px;
  }

  .u-section-1 .u-image-1 {
    min-height: 423px;
  }

  .u-section-1 .u-image-2 {
    min-height: 423px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}.u-section-2 {
  background-image: linear-gradient(#6d7dad, #4e88c4);
}

.u-section-2 .u-sheet-1 {
  min-height: 590px;
}

.u-section-2 .u-slider-1 {
  min-height: 486px;
  width: 893px;
  margin: 103px auto 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 97px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  width: 191px;
  margin: 35px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 0 -80px;
}

.u-section-2 .u-text-4 {
  width: 191px;
  margin: 35px auto 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 55px;
  height: 55px;
  background-image: none;
}

.u-section-2 .u-carousel-control-2 {
  width: 55px;
  height: 55px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-slider-1 {
    height: auto;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-slider-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-slider-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-slider-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-3 {
  min-height: 748px;
}

.u-section-3 .u-shape-1 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: -164px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 615px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 26px 29px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  margin: 134px 0 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 300;
  background-image: none;
  margin: 18px auto 0 0;
  padding: 12px 35px 14px 34px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 321px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-image-1 {
  height: 234px;
  background-image: url("images/fdfdfdf.jpg");
  background-position: 50% 50%;
  width: 234px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 287px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-image-2 {
  height: 197px;
  background-image: url("images/eee.jpg");
  background-position: 50% 50%;
  width: 197px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 575px;
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-image-3 {
  height: 234px;
  background-image: url("images/wewe.jpg");
  background-position: 50% 50%;
  width: 234px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 642px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 507px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 265px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-3 .u-image-1 {
    height: 199px;
    width: 199px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 237px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 474px;
  }

  .u-section-3 .u-image-3 {
    height: 231px;
    width: 231px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 1569px;
  }

  .u-section-3 .u-shape-1 {
    height: 193px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -133px;
    margin-bottom: -696px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 590px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 357px;
  }

  .u-section-3 .u-image-1 {
    height: 297px;
    width: 297px;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 455px;
  }

  .u-section-3 .u-image-2 {
    height: 320px;
    width: 320px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 637px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-3 {
    height: 566px;
    width: 566px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 2151px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: -968px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 411px;
  }

  .u-section-3 .u-image-1 {
    height: 345px;
    width: 345px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 475px;
  }

  .u-section-3 .u-image-2 {
    height: 437px;
    width: 437px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 478px;
  }

  .u-section-3 .u-image-3 {
    height: 520px;
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 1828px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 338px;
  }

  .u-section-3 .u-image-1 {
    height: 300px;
    width: 300px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 319px;
  }

  .u-section-3 .u-image-2 {
    height: 290px;
    width: 290px;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 380px;
  }

  .u-section-3 .u-image-3 {
    height: 300px;
    width: 300px;
  }
}.u-section-4 {
  background-image: linear-gradient(#478ac9, #c75c69);
}

.u-section-4 .u-sheet-1 {
  min-height: 197px;
}

.u-section-4 .u-social-icons-1 {
  height: 37px;
  min-height: 16px;
  width: 91px;
  min-width: 49px;
  animation-duration: 1750ms;
  margin: 60px auto;
}

.u-section-4 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

@media (max-width: 1199px) {
  .u-section-4 .u-social-icons-1 {
    margin-top: 80px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 81px;
  }
}