.u-section-1 {
  min-height: 710px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  background-image: url("images/c75ecdb9f49c9134b86d6c8c19d532a9e2c0eb108e55f084e002382485fde151353bb4b1c1aeea578923ead4b52a4104a09a28d9ba4affbdf3aed8_1280.jpg");
  background-position: 50% 50%;
  min-height: 710px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 306px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 15px 116px 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 27px auto 0;
  padding: 10px 34px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 585px;
  }

  .u-section-1 .u-image-1 {
    pointer-events: auto;
    min-height: 585px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 376px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 11px;
    margin-right: 16px;
    margin-left: 32px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 448px;
  }

  .u-section-1 .u-image-1 {
    min-height: 448px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 238px;
    margin-right: 281px;
    margin-left: 233px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 15px;
    margin-left: 296px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 336px;
  }

  .u-section-1 .u-image-1 {
    min-height: 672px;
  }

  .u-section-1 .u-text-1 {
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 212px;
  }

  .u-section-1 .u-image-1 {
    min-height: 423px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 590px;
}

.u-section-2 .u-slider-1 {
  min-height: 486px;
  width: 893px;
  margin: 103px auto 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 97px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  width: 191px;
  margin: 35px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 0 -80px;
}

.u-section-2 .u-text-4 {
  width: 191px;
  margin: 35px auto 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 55px;
  height: 55px;
  background-image: none;
}

.u-section-2 .u-carousel-control-2 {
  width: 55px;
  height: 55px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-slider-1 {
    height: auto;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-slider-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-slider-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-slider-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-blog-1 {
  width: 759px;
  margin: 60px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
  min-height: 858px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 216px;
  width: 301px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -216px 0 0 341px;
}

.u-section-3 .u-text-2 {
  margin: 22px 0 0 341px;
}

.u-section-3 .u-metadata-1 {
  margin: 22px 240px 0 auto;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  background-image: none;
  margin: 13px 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 216px;
  width: 301px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -216px 0 0 341px;
}

.u-section-3 .u-text-4 {
  margin: 22px 0 0 341px;
}

.u-section-3 .u-metadata-2 {
  margin: 22px 240px 0 auto;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  background-image: none;
  margin: 13px 0 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 216px;
  width: 301px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -216px 0 0 341px;
}

.u-section-3 .u-text-6 {
  margin: 22px 0 0 341px;
}

.u-section-3 .u-metadata-3 {
  margin: 22px 240px 0 auto;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  background-image: none;
  margin: 13px 0 0 auto;
}

.u-section-3 .u-pagination-1 {
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-3 .u-blog-1 {
    height: auto;
  }

  .u-section-3 .u-btn-2 {
    padding: 6px 15px 7px;
  }

  .u-section-3 .u-btn-3 {
    padding: 7px 15px 8px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-blog-1 {
    width: 720px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 302px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 302px;
  }

  .u-section-3 .u-metadata-1 {
    margin-right: 201px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 302px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 302px;
  }

  .u-section-3 .u-metadata-2 {
    margin-right: 201px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 302px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 302px;
  }

  .u-section-3 .u-metadata-3 {
    margin-right: 201px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-blog-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 162px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 162px;
  }

  .u-section-3 .u-metadata-1 {
    margin-right: 61px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 162px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 162px;
  }

  .u-section-3 .u-metadata-2 {
    margin-right: 61px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 162px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 162px;
  }

  .u-section-3 .u-metadata-3 {
    margin-right: 61px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-blog-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-3 .u-image-1 {
    filter: brightness(0.5);
    margin-top: 16px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-metadata-1 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    letter-spacing: 1px;
    border-style: none;
    text-transform: uppercase;
    margin-top: 12px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-3 .u-image-2 {
    filter: brightness(0.5);
    margin-top: 16px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-metadata-2 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    letter-spacing: 1px;
    border-style: none;
    text-transform: uppercase;
    margin-top: 12px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-3 .u-image-3 {
    filter: brightness(0.5);
    margin-top: 16px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }

  .u-section-3 .u-metadata-3 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-3 .u-btn-3 {
    letter-spacing: 1px;
    border-style: none;
    text-transform: uppercase;
    margin-top: 12px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 197px;
}

.u-section-4 .u-social-icons-1 {
  height: 37px;
  min-height: 16px;
  width: 91px;
  min-width: 49px;
  animation-duration: 1750ms;
  margin: 60px auto;
}

.u-section-4 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

@media (max-width: 1199px) {
  .u-section-4 .u-social-icons-1 {
    margin-top: 80px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 81px;
  }
}